body{
	background-color: #d3d3d3;
	font-family: 'helvetica neue'

}

ul,li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1{
	text-align: center;
}

.app{
	border-style: solid;
	border-width: 1px;
	background-color: #ffebcd;
	border-radius: 1px;

}

.wrapper{
	margin: 0 auto;
	width: 40%;
}

.leftBox{
	float:left;
	width:30px;
	padding-left: 5px;
	padding-right: 5px;
}

.rightBox{
	float: left;
	width:461px;
	padding-left:5px;
	padding-right: 5px;
}

.footerLeft{
	float:left;
	width:240px;
	padding-left: 5px;
	padding-right: 5px;

}

.footerRight{
	float:left;
	width:245px;
	padding-left: 5px;
	padding-right: 5px;
	
}
.clearfix{
	clear:both;
}

.footer{
	border-radius: 1px;
	border-style: solid;
	height:45px;

}

.list{
	height: 45px;
}

.input{
	height:45px;
}
input{
	width:459px;
	height:25px;
}
